In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv('data.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [20]:
df['Class'].value_counts()

0    763
1      9
Name: Class, dtype: int64

In [21]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [22]:
#divide data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('Class', axis=1), df['Class'], test_size=0.3, random_state=0)
X_train.shape, X_test.shape

((540, 30), (232, 30))

In [23]:
test_df = pd.concat([X_test, y_test], axis=1)

In [24]:
#random over sampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
X_resampled.shape, y_resampled.shape

((1066, 30), (1066,))

### Random Sampling

In [25]:
import math
n = (1.96**2)*0.5*(1-0.5)/(0.05**2)
X_sample = X_resampled.sample(n = math.floor(n) , replace = False, random_state = 42)
y_sample = y_resampled[X_sample.index]
X_sample.shape, y_sample.shape

((384, 30), (384,))

In [26]:
X_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
31,403,1.131541,-0.174361,0.992622,0.600032,-1.021934,-0.644779,-0.428619,-0.032071,0.516318,...,0.006619,0.022068,-0.031149,0.022845,0.414591,0.129935,0.387228,-0.016423,0.034255,52.40
807,529,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,...,0.620899,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,1.50
413,545,-1.030747,0.894747,2.375620,0.218372,-0.862126,-0.180483,-0.260299,0.592381,-0.017765,...,-0.097825,0.006203,0.020326,-0.216072,0.435670,0.192864,0.351030,-0.066266,0.005583,3.98
1025,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.126911,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00
798,574,1.257719,0.364739,0.306923,0.690638,-0.357792,-1.067481,0.094272,-0.210300,0.014455,...,-0.073779,-0.286856,-0.820658,0.127663,0.343128,0.221120,0.094391,-0.022189,0.030944,1.29

In [27]:
y_sample.head()

31      0
807     1
413     0
1025    1
798     1
Name: Class, dtype: int64

In [35]:
#logistic regression using sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
lr = LogisticRegression()
lr.fit(X_sample, y_sample)
y_pred = lr.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9267241379310345

In [36]:
#knn using sklearn
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_sample, y_sample)
y_pred = knn.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.8879310344827587

In [37]:
#random forest using sklearn
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=0)
rf.fit(X_sample, y_sample)
y_pred = rf.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9913793103448276

In [39]:
#decision tree using sklearn
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=0)
dt.fit(X_sample, y_sample)
y_pred = dt.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9698275862068966

In [40]:
#naive bayes using sklearn
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_sample, y_sample)
y_pred = nb.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.8362068965517241

### Systematic Sampling

In [46]:
import random as rd
def sample_systematic(X_resampled, sample_size, state = None):
    length = len(df)
    print(length)
    interval = length // sample_size
    print(interval)
    rd.seed(state)
    first = rd.randint(0, interval)
    indexes = np.arange(first, length, step = interval)
    return X_resampled.iloc[indexes]

In [49]:
X_sample = sample_systematic(X_resampled, 385, 42)
y_sample = y_resampled[X_sample.index]
X_sample.shape, y_sample.shape

772
2

((385, 30), (385,))

In [50]:
X_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
2,26,-0.535388,0.865268,1.351076,0.147575,0.433680,0.086983,0.693039,0.179742,-0.285642,...,-0.283264,0.049526,0.206537,-0.187108,0.000753,0.098117,-0.553471,-0.078306,0.025427,1.77
4,579,1.214170,0.210481,0.484651,0.479768,-0.261955,-0.527039,0.021782,-0.106888,-0.037631,...,-0.071540,-0.224292,-0.594609,0.159877,0.091873,0.140964,0.227406,-0.017389,0.016030,5.98
6,267,-0.071004,2.114931,-3.597858,0.159330,3.543995,2.366976,0.727398,0.335814,0.772950,...,0.997323,-0.455452,-0.530552,0.046282,0.635140,-0.093466,-0.418993,0.463129,-0.139102,2.28
8,484,1.060623,0.077500,-0.049338,0.546163,0.004831,-0.732323,0.547012,-0.275000,-0.374239,...,0.127655,-0.286497,-0.982239,0.080482,0.097460,0.217021,0.154499,-0.057598,0.024727,99.90
10,204,0.860652,-0.247375,0.754082,1.185492,-0.486174,0.241013,-0.197776,0.136015,-0.138920,...,0.176969,0.285398,0.612468,-0.175761,0.047503,0.378592,-0.305092,0.037626,0.043644,137.30

In [51]:
y_sample.head()

2     0
4     0
6     0
8     0
10    0
Name: Class, dtype: int64

In [52]:
#logistic regression using sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
lr = LogisticRegression()
lr.fit(X_sample, y_sample)
y_pred = lr.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9396551724137931

In [53]:
#knn using sklearn
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_sample, y_sample)
y_pred = knn.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9137931034482759

In [54]:
#random forest using sklearn
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=0)
rf.fit(X_sample, y_sample)
y_pred = rf.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9913793103448276

In [55]:
#decision tree using sklearn
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=0)
dt.fit(X_sample, y_sample)
y_pred = dt.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9698275862068966

In [56]:
#naive bayes using sklearn
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_sample, y_sample)
y_pred = nb.predict(X_test)
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.8448275862068966

### Stratified Sampling

In [59]:
train_df = pd.concat([X_resampled, y_resampled], axis=1)
train_df['Class'].value_counts()

0    533
1    533
Name: Class, dtype: int64

In [68]:
def stratified_sampling(df,sample_size = 0.5):
    
    return df.groupby('Class', group_keys=False).apply(lambda x: x.sample(frac = sample_size, replace = False))

In [71]:
sample_df = stratified_sampling(train_df)
sample_df.shape

(532, 31)

In [ ]:
X_sample = sample_df.drop('Class', axis=1)
y_sample = sample_df['Class']